@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    margin: 0;
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}